
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top justify-content-between">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navi">
              <li class="nav-list nav-item ">
                <li class="nav-list nav-item ">
                  <a routerLink="/movies" class="nav-link">Movies</a>
                </li>
                <li class="nav-list nav-item ">
                  <a routerLink="/comments" class="nav-link">Comments</a>
                </li>
               
            </ul>
           
          </div>
        </div>
      </nav>
<router-outlet></router-outlet>
